<div id="dashboardCards">
	<md-content class="md-padding" layout-xs="row" layout="row">
          <div flex-xs flex-gt-xs="100" layout="row">
            <md-card class="md-class-indicator">
              <md-card-title-media class="md-class-indicator_title" >
                <div flex-xs flex-gt-xs="30" layout="row">

                </div>
                <!-- <img src="images/Indicator1.png" class="md-class-indicator_img"> -->
              </md-card-title-media>

              <md-card-title class="md-class-indicator_title">

                <md-card-title-text>
                  <span class="md-headline span_align" id="first">0.3mn </span>

                </md-card-title-text>
                <md-card-title-text>
                  <span class="second">Daily Revenue</span>

                </md-card-title-text>
              </md-card-title>
            </md-card>
            <md-card class="md-class-indicator">
              <md-card-title-media class="md-class-indicator_title" >
                <div flex-xs flex-gt-xs="30" layout="row">

                </div>
                <!-- <img src="images/Indicator1.png" class="md-class-indicator_img"> -->
              </md-card-title-media>

              <md-card-title class="md-class-indicator_title">

                <md-card-title-text>
                  <span class="md-headline span_align" id="second">0.3mn Daily Revenue</span>

                </md-card-title-text>
                <md-card-title-text>
                  <span class="third"></span>

                </md-card-title-text>
              </md-card-title>
            </md-card>

            <md-card class="md-class-indicator">
              <md-card-title-media class="md-class-indicator_title">
                <!-- <img src="images/Indicator3.png"class="md-class-indicator_img"> -->
              </md-card-title-media>
              <md-card-title class="md-class-indicator_title">
                <md-card-title-text>
                  <span class="md-headline span_align" id="third">32% Ratio Revenue</span>
                </md-card-title-text>
                <md-card-title-text>
                  <span class="fourth"></span>
                </md-card-title-text>
              </md-card-title>
            </md-card>
            <md-card class="md-class-indicator">
              <md-card-title-media class="md-class-indicator_title" >
                <div flex-xs flex-gt-xs="30" layout="row">

                </div>
                <!-- <img src="images/Indicator1.png" class="md-class-indicator_img"> -->
              </md-card-title-media>

              <md-card-title class="md-class-indicator_title">

                <md-card-title-text>
                  <span class="md-headline span_align"id="fourth">0.3mn Daily Revenue</span>

                </md-card-title-text>
                <md-card-title-text>
                  <span class="second"></span>

                </md-card-title-text>
              </md-card-title>
            </md-card>
          </div>
        </md-content>

</div>