<div class="row2">
    <ul>
        <li class="pull-left"><h4>Equipment Status</h4></li>
        <div class="pull-right">
    </div>
    </ul>
</div>
<div  ng-cloak="" class="tabsdemoDynamicHeight" id = "equip" >
  <md-content>
    <md-tabs md-dynamic-height="" md-border-bottom="">
      <md-tab label="Overview" style="text-transform:none;">
        <md-content class="md-padding">
          <div class = "row" id="tableWindow">
            <div class="col-lg-2">
          <img class="md-display-2" id="image"  src="images/pepsi.jpg" alt="image">
          </div>
       <div class = "col-lg-5 ">
           <table width="70%" height="20%" class="table" id = "table1">
            <thead>
                <tbody  ng-repeat="reqKey in reqFeilds">

                      <tr ng-repeat="(Key,value) in equipmentData">
                       <th ng-if="reqKey==Key">{{overviewNames[Key]}}</th>
                       <td ng-if="reqKey==Key">{{value}}</td>
                      </tr>
                </tbody >
            </thead>
           </table>
      </div>
      <div class = "col-lg-5 " style="margin-left:-32px;">
          <table width="70%" height="20%" class="table"  id = "table2">
           <thead>
               <tbody  ng-repeat="reqKey in reqFeilds2">

                     <tr ng-repeat="(Key,value) in equipmentData">
                      <th ng-if="reqKey==Key">{{overviewNames2[Key]}}</th>
                      <td ng-if="reqKey==Key">{{value}}</td>
                     </tr>
               </tbody >
           </thead>
          </table>
     </div>
        </md-content>
      </md-tab>
      <md-tab label="Health Check" style="text-transform:none;">
        <md-content class="md-padding">
            <div class = "row">
              <div class="col-lg-2">
            <img class="md-display-2" id="image" src="images/pepsi.jpg" alt="image">
            </div>
         <div class = "col-lg-5 ">
             <table width="70%" height="20%" class="table" id = "table1">
              <thead >
<tbody  ng-repeat="reqKey in reqFeilds3">

      <tr ng-repeat="(Key,value) in equipmentData">
       <th ng-if="reqKey==Key">{{healthNames[Key]}}</th>
       <td ng-if="reqKey==Key">{{value}}</td>
      </tr>
</tbody >

              </thead>
             </table>
        </div>
        <div class = "col-lg-5 " style="margin-left:-32px;">
            <table width="70%" height="20%" class="table"  id = "table2">
             <thead>
                 <tbody  ng-repeat="reqKey in reqFeilds4">

                       <tr ng-repeat="(Key,value) in equipmentData">
                        <th ng-if="reqKey==Key">{{healthNames2[Key]}}</th>
                        <td ng-if="reqKey==Key">{{value}}</td>
                       </tr>
                 </tbody >
             </thead>
            </table>
       </div>
        </md-content>
      </md-tab>

    </md-tabs>
  </md-content>

</div>

<!--

</div>
 -->
